.wrapper {
	height: 100vh;
	/* vh在手机端存在问题，当 dvh 无法在老旧浏览器显示则会使用 vh */
	height: 100dvh;
	width: 100%;
}

.header {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
}

.header::before {
	content: "";
	height: 25px;
	width: 3px;
	margin-left: 20px;
	border-radius: 15px;
}

.header h1 {
	font-size: 1.5em;
	margin-left: 13px;
	line-height: 100%;
}

.content {
	width: 95%;
	height: calc(100% - 50px);
	margin: 20px auto 0;
	display: flex;
}

.sidebar {
	width: 220px;
}

.sidebar .sidebar_nav .sidebar_nav_item {
	display: flex;
	align-items: center;
	padding: 5px 13px;
	width: calc(100% - 26px);
	height: 30px;
	font-size: .95em;
}

.sidebar .sidebar_nav .sidebar_nav_item span {
	width: 15px;
	height: 15px;
	margin-right: 8px;
}

.sidebar .sidebar_nav .sidebar_nav_item span img {
	width: 15px;
	height: 15px;
}

.view {
	width: calc(100% - 270px);
	height: 100%;
	margin-left: 50px;
}