.header {
	box-shadow: 0 0 5px #A4A4A4;
}

.header::before {
	background-color: #262626;
}

.sidebar .sidebar_nav .sidebar_nav_item:hover {
	background-color: #EFEFEF;
}

.sidebar .sidebar_nav .sidebar_nav_item.selected {
	background-color: #F2FBFF;
}